<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
  <link href="/css/output.css" rel="stylesheet">
</head>
<body>

   <!-- header -->

    <div class="mb-20 ">

     <header class="fixed top-0 left-0 right-0 bg-gray-800 shadow-md py-4 z-50">
    <div class="container mx-auto flex justify-between items-center pl-4 pr-2">
      <!-- Logo -->
      <a href="/shop" class="text-2xl border-b border-white font-bold text-white">STARK</a>
             
   
      <div class="text-white"><%=userAccountInfo%></div>
   
    
   
      <nav class="flex gap-x-3 mr-2">
    

        <!-- <a href="/logout" class="text-red-500 hover:text-red-400">Account</a> -->
        <a href="/user/account" class="text-red-500 hover:text-red-400">Account</a>
      </nav>
    
      <!-- Navigation Links -->
      
    </div>
    </header>
   </div>


   <div class="min-h-screen flex justify-center items-cente">

    <!-- <div class="bg-gray-600 p-10 w-60 rounded-2xl text-white">

        <h1>Name: Sachin</h1>
        <h1>email:</h1>
        <h1>Orders:</h1>

    </div> -->
<div class="mt-10">
    <a href="/logout" class="bg-red-700 p-4 text-white rounded-2xl">Logout</a>

</div>


   </div>

    
                                  
                    
              
</body>
</html>